@import 'nib'

negro 	= #333333
rojo 	= #B50000

#container
	display block
	margin 0 auto
	min-width 320px
	width 90%

#FormData
	table
		margin-top 20px
		width 100%
		input,select
			width 100%
	.serie	
		.input-field
			margin-top 1px !important				
		.material-icons					
			absolute top 10px right
			display none
			&:hover
				cursor pointer
		&:hover
			.material-icons
				display inline-block !important
	.msj
		border-radius 4px
		margin-top 10px
		padding 10px 0
		text-align center		
		width 100%
	&.eliminando
		.cont
			.serie
				input
					width 95%
				span
					display inline-block


.error
	padding 25px 0
	ol
		counter-reset item
		li
			display block
			font-size 1.5em
			&:before
				content counter(item) ". "
				counter-increment item
				color red
						

.nueva
	margin 10px 0 0 10%
	
	
@media (max-width: 600px)
	#principal
		text-align center
	.nueva
		border-radius 0
		margin 5px 0 15px !important
		padding 15px 0
		width 98%
	#container
		width 100% !important
	#FormData
		text-align left !important
