@import 'nib'

negro 	= #333333
rojo 	= #B50000

#container
	display block
	margin 0 auto
	min-width 320px
	width 90%

#FormData
	margin 20px auto
	max-width 700px
	min-width 320px
	width 50%
	#line
		relative top -14px left
	.cont
		.serie
			input
				margin-bottom 5px
				transition border 0.3s linear
				width 100%			
			span
				color red
				display none				
				&:hover
					cursor pointer
	.line
		background-color rgba(negro,0.3)
		clearfix()
		display inline-block
		height 1px
		width 100%
	.msj
		border-radius 4px
		margin-top 10px
		padding 10px 0
		text-align center		
		width 100%
	&.eliminando
		.cont
			.serie
				input
					width 95%
				span
					display inline-block
	table
		margin-top 20px
		width 100%
		input,select
			width 100%

.borde
	border-color rgba(rojo, .5)
	transition border 0.3s linear

.error
	padding 25px 0
	ol
		counter-reset item
		li
			display block
			font-size 1.5em
			&:before
				content counter(item) ". "
				counter-increment item
				color red
						

.nueva
	margin 10px 0 0 10%
	
	
@media (max-width: 600px)
	#principal
		text-align center
	.nueva
		border-radius 0
		margin 5px 0 15px !important
		padding 15px 0
		width 98%
	#container
		width 100% !important
	#FormData
		text-align left !important
